*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

.hero{
  background: url('assets/Poster.png') center center/cover no-repeat;
  height:600px;
}

.logo{
  height: 60px;
  width: 190px;
}

.signin{
  height: 46px;
  width: 140px;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 95px;
  padding: 22px 0;
}

.search-div{
    position: relative;
		width: 100%;
}

.search-input {
  background-color: rgba(255, 255, 255, 0);
  font-size: 16px;
  color: white;
  border: solid 2px white;
  padding: 20px 6px;
  border-radius: 10px;
  outline: none;
  width: 525px;
  height: 36px;
}

.search-input::placeholder {
  color: white;
}

.search-button {
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translate(100%, -50%);
  color: white;
}

.description{
  color: white;
  display: flex;
  flex-direction: column;
  margin: 100px 95px;
}

.description h1{
  width: 404px;
  font-size: 48px;
}

.description img{
  width: 300px;
  padding-top: 20px;
}

.description p{
  padding-top: 20px;
  width: 404px;
  font-size: 14px;
}

.feature-header{
  display: flex;
  justify-content: space-between;
  margin: 100px 95px;
}

.feature-header h2{
  font-size: 50px;
  font-weight: 700;
}

.feature-header p{
  color: #BE123C;
  font-size: 23px;
}

.feature-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: auto;
  gap: 10px;
  margin: 0 95px;
  /* padding-bottom: 100px; */
}

.deats{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card img{
  width: 250px;
  height: 370px;
}

.card p{
  font-size: 15px;
  color: #9CA3AF;
  font-weight: 700;
}

.card h6{
  font-size: 20px;
  color: #111827;
  font-weight: 700;
  padding-bottom: 100px;
}

.card a{
  text-decoration: none;
}

.footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 80px 0;
  gap: 40px;
}

.socials{
  font-size: 30px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.links{
  font-size: 23px;
  font-weight: 700;
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.copyright{
  font-size: 22px;
  font-weight: 700;
  color: #6B7280;
}